<!DOCTYPE html>
<html lang="en">
<% include head %>
  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">
                  <p>ERD Sketching is a web-page; designed by DBIS team in the University of Basel. It has been developed as Master Thesis project and finally submitted in 5th of October 2018.
                     It is an Online tool to help users design
                  ERDs and create a SQL/NoSQL DBMS. The tool supports creation of ERDs by drawing using the mouse or any other pointing device. It also supports validating the model, and
                exporting the drawn model into real database. The tool could also connect to Database, by providing the user name, password, host and database name.
              We have also added some modifications to the ERD model so we could be able to extract the schema. For example: In the ERD we can have sub-super type, to be able to identify this relationship type, we
            suggested that the user could add "_p" to the end of the parent entity name, so the system can identify the parent entity correctly. Also, if the user did not provide the primary key column, the system will generate one.
          </p>
        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
  <% include footer %>
</html>
