<html>

  <head>
    <% include head %>
      <script type="text/javascript" src="/scripts/drawUtility_zindex.js"></script>
      <script type="text/javascript" src="/scripts/detectShape.js"></script>
      <!--script type="text/javascript" src="/scripts/schemaUtility.js"></script-->
      <script type="text/javascript" src="/scripts/supportUtilities.js"></script>
      <script type="text/javascript" src="/scripts/menuUtilities.js"></script>
      <script type="text/javascript" src="/scripts/ValidateERDModel.js"></script>
      <!--script type="text/javascript" src="/scripts/ExtractSQLSchema.js"></script-->
      <script type="text/javascript" src="/scripts/GenerateSQLSchemaNewAdditions.js"></script>
      <script type="text/javascript" src="/scripts/ExtractTypes.js"></script>
      <script type="text/javascript" src="/scripts/ExtractAttributesForMongoDB.js"></script>
      <script type="text/javascript" src="/scripts/Constraints_Types.js"></script>
      <script type="text/javascript" src="/scripts/GenerateMongodbSchema.js"></script>
      <script type="text/javascript" src="/scripts/FileMenuUtility.js"></script>
      <script type="text/javascript" src="/scripts/EditorModalUtility.js"></script>
      <script type="text/javascript" src="/scripts/ConnectToDB.js"></script>
      <script type="text/javascript" src="/scripts/drawSQLTypesConstraints.js"></script>
      <script type="text/javascript" src="/scripts/projectsUtility.js"></script>
      <!--script type="text/javascript" src="/scripts/Neo4j.js"></script-->
      <script type="text/javascript" src="/scripts/Neo4j_NewAddition.js"></script>
      <script type="text/javascript" src="/scripts/ExtractAttributesForNeo4j_NewAddition.js"></script>
      <!--script type="text/javascript" src="/scripts/ExtractAttributesForNeo4j.js"></script-->
      <script type="text/javascript" src="/scripts/neo4j-web.min.js"></script>
      <script type="text/javascript" src="/scripts/jquery.onScreenKeyboard.js"></script>

      <script src="https://code.jquery.com/pep/0.4.3/pep.js"></script>
      <script type="text/javascript" src="/resources/myscript/dist/myscript.min.js"></script>
      <link rel="stylesheet" href="/resources/myscript/dist/myscript.min.css"/>
      <link rel="stylesheet" href="/resources/onScreenKeyboard.css"/>
  </head>
  <body>

  <div class="modal" id="myModal" role="dialog" style="height:100%; width:100%;">
   <div class="modal-dialog" style="height:100%; width:100%;">

     <!-- Modal content-->
     <div class="modal-content" style="height:100%; width:100%;">
       <div id="modalBody" class="modal-body" style="height:100%; width:100%;">
         <nav>
           <div class="button-div">
             <button id="undo" class="nav-btn btn-fab-mini btn-lightBlue" disabled>
               <img src="/resources/myscript/examples/assets/img/undo.svg">
             </button>
             <button id="redo" class="nav-btn btn-fab-mini btn-lightBlue" disabled>
               <img src="/resources/myscript/examples/assets/img/redo.svg">
             </button>
             <button id="done" class='classic-btn' style="color:black" data-dismiss="modal"> Done</button>
             </button>
           </div>

           <div class="spacer"></div>
               <!--input type="text" class="input-field" id="importContentField" data-type="text/plain" placeholder="e.g. hello world"-->
               <label for="importContent" id="importContentField" data-type="text/plain" style="color:black"></label>
               <button class="classic-btn" id="importContent" style="color:black">Import</button>
             <!--/nav-->
             <!--div id="editor"></div>
           </div-->

         </nav>
       </div>
     </div>

   </div>
 </div>

 <div class="modal" id="schema_modal" role="dialog" style="height:100%; width:100%;">
  <div class="modal-dialog" style="height:75%; width:75%;">
    <!-- Modal Schema-->
    <div class="modal-content" style="height:100%; width:100%;">
      <div id="schema_modal_body" class="modal-body" style="height:100%; width:100%;">
        <nav>
          <div class="button-div">
            <button id="schema_copy_btn" style="float:left" class='btn btn-danger' data-dismiss="modal"> Copy Schema</button>
            </button>
            <button id="connect_to_db_btn" style="float:right" class='btn btn-danger' data-dismiss="modal" onclick="connect_to_db_btn_click()"> Connect</button>
            </button>
          </div>
        </nav>
        <div id="schema_textbox" style="white-space:pre-wrap; overflow-x: auto; height:90%;width:100%;float:left;text-align: left; line-height: 40px; color:black"></div>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="connection_modal" role="dialog" style="height:100%; width:100%;">
 <div class="modal-dialog" style="height:300px; width:500px;">

   <!-- Modal Schema-->
   <div class="modal-content" style="height:100%; width:100%;">
     <div id="connection_modal_body" class="modal-body" style="height:100%; width:100%;">

       <div  style="color:black;font-size:20px;position:left; padding-top: 50px">
         <table  style="color:black;font-size:20px;width:100%">
             <tr id="tr_username">
               <td>Username</td>
               <td><input type="text" id="txt_username"  required></td>
             </tr>
             <tr id="tr_password">
               <td>Password</td>
               <td><input id="txt_password"  type="password" required></td>
             </tr>
             <tr>
               <td>Server</td>
               <td><input type="text" id="txt_url"  disabled value="localhost"></td>
             </tr>
             <tr id="tr_dbname">
               <td>DBName</td>
               <td><input type="text" id="txt_dbname"></td>
             </tr>
         </table>
        <!--Force create new database: <input style="zoom: 2" type="checkbox" checked="checked" id="chb_create">-->
       </div>
     <br>
       <nav>
         <div class="button-div">
           <button id="connection_cancel_btn" style="float:left" class='btn btn-danger' data-dismiss="modal">Cancel</button>
           </button>
           <button id="connection_ok_btn" style="float:right" class='btn btn-danger' data-dismiss="modal" onclick="connect_to_db_create()">Create and Connect</button>
           </button>
         </div>
       </nav>
     </div>
   </div>
 </div>
</div>



<div class="modal" id="schema_types_constriants_modal" role="dialog" style="height:100%; width:100%;">
 <div class="modal-dialog" style="height:75%; width:75%;">

   <!-- Modal Schema-->
   <div class="modal-content" style="height:100%; width:100%;">
     <div class="modal-body" style="height:100%; width:100%;">
      <div style="float:left;color:black"> Select your target SQL engine
        <select id="sql_engine" onchange="sql_engine_change_handler()">
        <option value="mysql">MySQL</option>
        <option value="oracle">ORACLE</option>
        <!--option value="mongodb">MongoDB</option-->
        </select>
       </div>
        <br>
        <br>
      <div id="types_constriants_options" style="overflow: auto; height:90%;width:100%;float:left;text-align: left; line-height: 40px; color:black"> </div>
       <nav>
         <div class="button-div">
           <button id="types_constriants_options_cancel_btn" style="float:left" class='btn btn-danger' data-dismiss="modal"> Cancel</button>
           </button>
           <button id="types_constriants_options_generate_btn" style="float:right" class='btn btn-danger' data-dismiss="modal" onclick="types_constriants_options_generate_btn_click()"> Generate</button>
           </button>
         </div>
       </nav>
     </div>
   </div>

 </div>
</div>

<div class="modal" id="nosql_schema_types_constriants_modal" role="dialog" style="height:100%; width:100%;">
 <div class="modal-dialog" style="height:75%; width:75%;">

   <!-- Modal Schema-->
   <div class="modal-content" style="height:100%; width:100%;">
     <div class="modal-body" style="height:100%; width:100%;">
      <div style="float:left;color:black"> Select your target NOSQL engine
        <select id="nosql_engine" onchange="nosql_engine_change_handler()">
        <option value="mongodb">MongoDB</option>
        <option value="neo4j">Neo4j</option>
        <!--option value="mongodb">MongoDB</option-->
        </select> </div>
        <br>
        <br>
      <div id="nosql_types_constriants_options" style="overflow: auto; height:90%;width:100%;float:left;text-align: left; line-height: 40px; color:black"> </div>
       <nav>
         <div class="button-div">
           <button id="nosql_types_constriants_options_cancel_btn" style="float:left" class='btn btn-danger' data-dismiss="modal"> Cancel</button>
           </button>
           <button id="nosql_types_constriants_options_generate_btn" style="float:right" class='btn btn-danger' data-dismiss="modal" onclick="nosql_types_constriants_options_generate_btn_click()"> Generate</button>
           </button>
         </div>
       </nav>
     </div>
   </div>

 </div>
</div>

<div class="btn-group" style="float:left">
  <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
   File
  </button>
  <div class="dropdown-menu" >
     <button  style=" background-color: transparent; color: black; border: none !important;"  onclick="save(false)" type="button">Save</button> <!--if false then will not exit, else it will exit to the projects page -->
</br>
     <button  style=" background-color: transparent; color: black; border: none !important;"  onclick="save(true)" type="button">Save and Exit</button>
    <!--button  style=" background-color: transparent; color: black; border: none !important;"  onclick="ValidateERDModel(fine_shapes)"  type="button">Validate Schema</button>
    <button  style=" background-color: transparent; color: black; border: none !important;"  onclick="extract_show_SQL_schema(fine_shapes)" type="button">Extract Schema</button>
    <button  style=" background-color: transparent; color: black; border: none !important;"  onclick="ExtractTypes(fine_shapes)" type="button">Extract Types</button-->
   </div>

 </div>
 <div class="btn-group" style="float:left">
   <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Schema
   </button>
   <div class="dropdown-menu" >
    <!--button  style=" background-color: transparent; color: black; border: none !important;"  onclick="ValidateERDModel(fine_shapes)"  type="button">Validate Schema</button>
    <button  style=" background-color: transparent; color: black; border: none !important;"  onclick="ExtractTypes(fine_shapes)" type="button">Extract Types</button-->
    <button  style=" background-color: transparent; color: black; border: none !important;"  onclick="extract_show_SQL_schema(fine_shapes)" type="button">Extract SQL Schema</button>
    </br>
    <button  style=" background-color: transparent; color: black; border: none !important;"  onclick="extract_show_NOSQL_schema(fine_shapes)" type="button">Extract NOSQL Schema</button>
    <!--<button  style=" background-color: transparent; color: black; border: none !important;"  onclick="extract_show_Neo4j_schema(fine_shapes)" type="button">Extract Neo4j Schema</button>-->
    <!--button  style=" background-color: transparent; color: black; border: none !important;"  onclick="extract_show_SQL_schema(fine_shapes)" type="button">Extract NoSQL Schema</button-->
   </div>
 </div>

 <div class="btn-group" style="float:left">
   <button class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Tools
   </button>
   <div class="dropdown-menu" >
     <button  style=" background-color: transparent; color: black; border: none !important;" onclick="clearAllShapes()"  type="button" > Clear Drawings </button>
     <button  style=" background-color: transparent; color: black; border: none !important;" onclick="draw_tool()" type="button" > Draw Tool </button>
   </br>
     <button  style=" background-color: transparent; color: black; border: none !important;" onclick="move_tool()"  type="button" > Move Tool </button>
     <button  style=" background-color: transparent; color: black; border: none !important;" onclick="rename_tool()"  type="button" > Rename tool </button>
     <button  style=" background-color: transparent; color: black; border: none !important;" onclick="delete_tool()"  type="button" > Delete tool </button>
   </div>
 </div>

    <ul id="contextMenu_main" class='custom-menu'>
      <li data-action="move">Move Shapes</li>
      <li data-action="delete">Delete Shapes</li>
      <li data-action="clear">Clear All shapes</li>
      <li data-action="draw">Draw shapes</li>
    </ul>

    <ul id="contextMenu_Circle" class='custom-menu'>
      <li data-action="deleteme">Delete me</li>
      <li data-action="renameme">Enter text</li>
      <li data-action="solid">Normal attribute</li>
      <li data-action="dashed">Derived attribute</li>
      <li data-action="double">Multivalued attribute</li>
      <li data-action="primaryKey">Primary Key</li>
      <li data-action="partialKey">Partial Key</li>
      <li data-action="removekey">Remove Key</li>
      <li data-action="ChangeToRec">Change Shape to Rectangle</li>
      <li data-action="ChangeToDiamond">Change Shape to Diamond</li>
    </ul>

    <ul id="contextMenu_shape" class='custom-menu'>
      <li data-action="deleteme">Delete me</li>
      <li data-action="renameme">Enter text</li>
      <li data-action="solid">Solid line</li>
      <li data-action="double">Double line</li>
      <li data-action="ChangeToRec">Change Shape to Rectangle</li>
      <li data-action="ChangeToDiamond">Change Shape to Diamond</li>
      <li data-action="ChangeToCircle">Change Shape to Circle</li>
    </ul>

    <ul id="contextMenu_diamond" class='custom-menu'>
      <li data-action="deleteme">Delete me</li>
      <li data-action="renameme">Enter text</li>
      <li data-action="solid">Normal relationship</li>
      <li data-action="double">Weak relationship</li>
      <li data-action="ChangeToRec">Change Shape to Rectangle</li>
      <li data-action="ChangeToCircle">Change Shape to Circle</li>
    </ul>

    <ul id="contextMenu_rectangle" class='custom-menu'>
      <li data-action="deleteme">Delete me</li>
      <li data-action="renameme">Enter text</li>
      <li data-action="solid">Normal entity</li>
      <li data-action="double">Weak entity</li>
      <!--li data-action="parent">Parent entity</li-->
      <li data-action="ChangeToDiamond">Change Shape to Diamond</li>
      <li data-action="ChangeToCircle">Change Shape to Circle</li>
    </ul>

    <ul id="contextMenu_line" class='custom-menu'>
      <li data-action="deleteme">Delete me</li>
      <li data-action="solidline">Solid line</li>
      <li data-action="oneandonlyone">One and only one</li>
      <li data-action="zeroormany">Zero or many</li>
      <li data-action="oneormany">One or many</li>
      <li data-action="zeroorone">Zero or One</li>
      <li data-action="recursive">Recursive relation</li>
    </ul>

  <!--  <div id="ControlsDiv"  >
        <button id="btnClean" class='btn btn-default'> Clear drawing </button>
        <button id="btnDelete" class='btn btn-default'> Delete tool </button>
        <button id="btnSaveDiagram" class='btn btn-default'> Save & Exit </button>
        <button id="btnMove" class='btn btn-default'> Move objects </button>
        <button id="btnDraw" class='btn btn-default'> Draw objects </button>
        <button id="btnRename" class='btn btn-default'> Rename objects </button>
        <button id="btnValidateModel" class='btn btn-default'> Validate Model </button>
        <button id="btnExtractSchema" class='btn btn-default'> Extract Schema </button>

    </div>-->
    <div id="canvasDiv"> <!--  style="overflow: scroll"-->
    </div>

<script type="text/javascript">
var project_id, canvasX,canvasY;
$(document).ready(function()
 {
  prepareCanvas();
  $('.osk-trigger').onScreenKeyboard();
   clickStatus="draw";
  $("#canvasDiv").css('cursor', 'hand');

   project_id = url_query('id');
  if(project_id)
  {
    $.get( "/GetProjectDiagrambyID", { ID: project_id } )
    .done(function( docs ) {
        fine_shapes=docs[0].diagram;
              drawShapes();
            highest_objected_id= setHighestObjectID(fine_shapes);
      });
  }
});
$(".custom-menu li").click(function(){
    // This is the triggered action name
    switch($(this).attr("data-action"))
    {
        // A case for each action. Your actions here
        case "move": moveShapes(); break;//Move Shapes
        case "delete": deleteShapes(); break;//Delete Shapes
        case "clear": clearAllShapes(); break;//Clear All Shapes
        case "draw": drawShapesonCanvas(); break;//Draw Shapes
        case "deleteme": deleteSpecificShape(); break;//Delete specific Shape
        case "renameme": Renamefunction(); break;//rename specific Shape
        case "solid": solidShape(); break; //specific shape with solid line
        case "dashed": dashedShape(); break; //specific shape with dashed line
        case "double": doubleShape(); break; //specific shape with double line
        case "oneandonlyone": oneAndOnlyOneRelation(); break; //specify relation type
        case "zeroormany": zeroOrMoreRelation(); break;//specify relation type
        case "oneormany": oneOrMoreRelation(); break;//specify relation type
        case "zeroorone": zeroOrOneRelation(); break;//specify relation type
        case "recursive": RecursiveRelation(); break;//specify relation type
        case "solidline": solidlinewithNorelation(); break; //a link between attributes and entities or relations
        case "ChangeToRec" : ChangeShape("Rectangle");break;//change shape if it is drawn accidentally wrong
        case "ChangeToDiamond" : ChangeShape("Diamond");break;//change shape if it is drawn accidentally wrong
        case "ChangeToCircle" : ChangeShape("Circle");break;//change shape if it is drawn accidentally wrong
        case "primaryKey" : UnderlineAttribute(false);break;//under line the attribute to mark it as a primary key Field
        case "partialKey" : UnderlineAttribute(true);break;//under line the attribute with dots to mark it as a partial key Field
        case "removekey" : NormalAttribute();break;//under line the attribute with dots to mark it as a partial key Field
        case "parent":ParentEntity();break;

    }
    drawShapes();
    // Hide it AFTER the action was triggered
    $(".custom-menu").hide(100);
    activeMenu=false;
  });
$("#canvasDiv").bind("contextmenu", function (event) {
   canvasX = event.pageX - drawingCanvas_leftStart;
  canvasY = event.pageY - drawingCanvas_topStart;
    // Avoid the real one then hide all actives
    event.preventDefault();
    hideAllContextMenus();
    selected_index=SelectShape(fine_shapes,canvasX,canvasY);
    if(selected_index!=-1)
    {
      if(fine_shapes[selected_index].shape_type=="Circle")
      openCircleContextMenu(event.pageX,event.pageY);
      else if (fine_shapes[selected_index].shape_type=="Line")
      openLineContextMenu(event.pageX,event.pageY);
      else if(fine_shapes[selected_index].shape_type=="Diamond")
      openDiamondContextMenu(event.pageX,event.pageY);
      else if (fine_shapes[selected_index].shape_type=="Rectangle")
      openRectangleContextMenu(event.pageX,event.pageY);
    }
    else {
      openMainContextMenu(event.pageX,event.pageY);
    }
});

</script>

  </html>
