<!DOCTYPE html>
<style>
p.ex1 {
    padding: 10 ;
}
</style>
<div class="mastfoot">
    <p class="ex1">ERD Sketching by <a href="https://dbis.dmi.unibas.ch/">Unibas</a>, by <a href="https://dbis.dmi.unibas.ch/team/omnia-kahla/">@Omnia Kahla</a>.</p>
</div>
