<!DOCTYPE html>
<html lang="en">
<% include head %>
<head>
  <style>
      body        { padding-top:80px;}
  </style>
</head>
  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

                    <div class="inner cover">
                        <img class="img-fluid" src="/resources/frontpage.jpg" alt="Front Page">
                        </p>
                        <div>
                          <a href="/login" class="btn btn-lg btn-default">Login</a>
                          <a href="/signup" class="btn btn-lg btn-default">Sign Up</a>
                        </div>
                      </div>



        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
  <%include footer%>
</html>
