<!DOCTYPE html>
<html lang="en">
<head>
  <% include head %>
  <script type="text/javascript" src="/scripts/projectsUtility.js"></script>
  </head>
<body>
  <script type="text/javascript">
  $(document).ready(function() {

    $.get( '/getProjectIDs', function({docs,user_id}) {
      //alert(user_id);
		listOfProjects(docs,user_id );
		});
  });
  </script>

      <div class="col-sm-2 col-sm-offset-1 col-md-10 col-md-offset-1 main">
        <h1 class="page-header">Dashboard</h1>

        <div class="row placeholders col-md-offset-0">

          <div class="col-sm-4 col-sm-offset-4 placeholder">
            <a href="/draw"><img src="/resources/ERD.jpg" width="500" height="500" class="img-responsive" alt="Generic placeholder thumbnail"></a>
            <h4>ER Diagram</h4>
            <!--li class="active"><a href="/draw">Create ERD diagram<span class="sr-only">(current)</span></a></li-->
            <span class="text-muted"><a href="/draw">Create Project</a></span>
          </div>
          <!--div class="col-sm-3 col-sm-offset-2 placeholder">
            <img  src="/resources/ERD.jpg" width="500" height="500" class="img-responsive" alt="Generic placeholder thumbnail"> < !--src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">>
            <h4>UML Diagram</h4>
            <span class="text-muted">Create Project</span>
          </div-->
        </div>
        <h2 class="sub-header">List of Projects</h2>
        <div class="table-responsive">
          <table id="project_table" class="table table-striped" style="background-color: #333">
            <thead>
              <tr>
                <th>ID</th>
                <th>Project name</th>
                <th>Model</th>
                <th>Create date</th>
                <th>Last modification date</th>
                <th>Operations</th>
              </tr>
            </thead>

          </table>
        </div>
      </div>
    </div>
  </div>

  </body>
  </html>
